@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la prueba tecnica de Alejandro Mayorga</h1>

    <div class="mt-5">
        <p>En esta prueba podra encontrar:</p>
        <p>- CRUD de un producto</p>
        <p>- CRUD de una categoria</p>
        <p>- Login basico para uso de servicios</p>
    </div>

</div>


